/*
 * Copyright (C) 2017 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

#include <dt-bindings/gpio/gpio.h>


/ {
	lcd_fpd: display_fpd {
		/*
		* This is not really a dpi panel, but panel-dpi driver
		* works as dummy panel driver.
		*/
		compatible = "lg,lp101wx2", "panel-dpi";

		label = "lcd_fpd";
		status = "disabled";

		panel-timing {
			clock-frequency = <69300404>;
			hactive = <1280>;
			vactive = <800>;

			hfront-porch = <48>;
			hback-porch = <44>;
			hsync-len = <32>;

			vfront-porch = <4>;
			vback-porch = <7>;
			vsync-len = <12>;

			hsync-active = <0>;
			vsync-active = <0>;
			de-active = <1>;
			pixelclk-active = <0>;
		};

		port {
			fpd_in: endpoint {
			};
		};
	};
};

&disp_ser {
	disp_des: deserializer@2c {
		compatible = "ti,ds90uh928q";
		reg = <0x2c>;
		slave-mode;
	};
	fpd_disp: tlc59108@1c {
		compatible = "ti,tlc59108";
		reg = <0x1c>;
	};
};
